html {
  width: 100%;
  height: 100%;
  
  background: #008b94; /* Old browsers */
  background: -moz-linear-gradient(top,  #008b94 0%, #020050 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #008b94 0%,#020050 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #008b94 0%,#020050 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008b94', endColorstr='#020050',GradientType=0 ); /* IE6-9 */
}

body {
    background: none;
}

hr {
    border-top: 1px solid #FFFFFF;
}

.btn {
    background-color: #4792de;
}

.btn:hover .btn:focus {
    background-color: #294864;
}

.btn:active, .btn.active {
    background-color: #294864;
}

.slide {
    background: none;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: white;
    padding-top: 64px;
    display: flex;
    align-items: center;
}

.slide.right {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: 100% !important;
}

.slide.center {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: 0% !important;    
}

.slide.left {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: -100% !important;
}

.slide span {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.slide img {
    margin: 16px;
}

.slide h1 {
    font-size: 500%;
}

.slide p {
    margin-left: 25%;
    width: 50%;
}

.slide a {
    color: white;
    text-decoration: underline dotted white;
}

.slide a:visited {
    color: white;
    text-decoration: underline dotted white;
}

.slide a:hover {
    color: #00e6f4;
    text-decoration: underline dotted #00e6f4;
}

#slidershow-indicator {
    background: none;
    position: fixed;
    bottom: 5%;
    left: 40%;
    width: 20%;
    height: 5%;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
}

.slide-indicator {
    margin-left: 1%;
    margin-right: 1%;
    flex: 100%;
    height: 5px;
    border: 1px solid white;
}

.slide-indicator.empty {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background: none !important;
}

.slide-indicator.fill {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background: white !important;
}

.nav-item.dropdown {
    display: none;
}

@media screen and (max-width: 1680px) {
  .slide p {
    margin-left: 15%;
    width: 70%;
  }
}

@media screen and (max-width: 1280px) {
  .slide p {
    margin-left: 10%;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .slide h1 {
    font-size: 300%;
  }
  .slide img {
    width: 15%;
  }
}

@media screen and (max-width: 800px) {
  .slide img {
    width: 20%;
  }
}

@media screen and (max-width: 720px) {
  .brand-title {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .slide img {
    width: 25%;
  }
}

@media screen and (max-width: 560px) {
  .slide img {
    margin-left: 25%;
    width: 50%;
    margin-right: 25%;
  }
  .slide h1 {
    font-size: 200%;
  }
  .slide p {
    font-size: 75%;
  }
  .nav-item {
    display: none;
  }
  .nav-item.dropdown {
    display: inline !important;
  }
}
