.brand small {
    color: #16A085;
}

.navbar {
    padding: 0;
    margin-bottom: 0;
    background-color: #000000;
    z-index: 5;
}

.navbar p {
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar-brand:hover {
    /* color: #294864; */
    color: #FFFFFF;
}

.navbar ul li {
  padding: 0 15px 0 15px;
  border-left: 2px solid white;
}

.navbar ul li a {
  color: white;
}

.navbar ul li a:visited {
  color: white;
}

.navbar ul li a:hover {
  color: #00e6f4;
  font-weight: bold;
}

.nav-item.dropdown {
  border-left: none;
}
.dropdown-toggle::after {
  display:none
}
a.dropdown-item {
  background:black;
}
a.dropdown-item:hover {
  background:black;
}
.dropdown-menu.show {
  left: auto;
  right: 0;
}

ul.nav-wizard {
  background-color: transparent;
  width: 100%;
  border: 0px;
}

/* Completed tasks */
ul.nav-wizard li {
  color: #005a13;
  font-weight: normal;
  padding: 0 10px 0 25px;
  background: linear-gradient(to right, #8cd99c, #f9f9f9);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
ul.nav-wizard li a {
  color: #005a13;
  font-weight: bold;
  background: transparent;
}

ul.nav-wizard li:hover {
  background: linear-gradient(to right, #92dade, #f9f9f9);
}
ul.nav-wizard li a:hover {
  color: #0004ac;
}

/* Current task */
ul.nav-wizard li.active {
  color: #0004ac;
  background: linear-gradient(to right, #92dade, #d9edf7);
}
ul.nav-wizard li.active a {
  color: #0004ac;
  background: transparent;
}

/* Pending tasks */
ul.nav-wizard .active ~ li {
  color: #000000;
  background: linear-gradient(to right, #999999, #ededed);
}
ul.nav-wizard .active ~ li a {
  color: #000000;
  background: transparent;
} 
